extends layout
block content
  script(src="./socket.io/socket.io.min.js") 
  h1= "Nuevo Alquiler"
  form(id="newRent" method="post" action="/rent/new")
    label Dias de alquiler
    input(name="days" type="text")
    br
    label Selecciona vehiculo
    select(name="car")
      each val of coches
        option(value=val.id) #{val.brand}
    br
    br
    label Selecciona Cliente
    br
    select(name="client")
      each val of clientes
        option(value=val.name) #{val.name}
    br
    br
    input(type="submit")


